.excalidraw .Island {
  --island-bg-color: rgb(var(--bg-color));
  --icon-fill-color: rgb(var(--text-color));
  --color-on-surface: rgb(var(--text-color));
  --text-primary-color: rgb(var(--text-color));
  --color-on-surface: rgb(var(--text-color));
  @apply border border-eva-text-border;
}

.excalidraw .dropdown-menu {
  max-height: 250px;
  overflow-x: auto;
  @apply rounded-xl border border-eva-text-border;
}

.excalidraw .mobile-misc-tools-container {
  @apply border border-eva-text-border bg-background text-eva-text;
}

.excalidraw .sidebar-trigger,
.excalidraw .main-menu-trigger {
  box-shadow: 0 0 0 1px var(--tw-shadow);
  @apply border-eva-text-border bg-eva-text-border text-eva-text shadow-eva-text-border hover:text-background;
}

.excalidraw .ToolIcon__icon svg {
  @apply text-eva-text;
}

.excalidraw .dropdown-menu-group-title {
  @apply text-eva-text;
}

.excalidraw .Modal {
  @apply pointer-events-auto text-eva-text;
}

.excalidraw .HelpDialog__btn,
.excalidraw .HelpDialog__key {
  @apply text-background;
}
