.collapsible-content {
  overflow: hidden;
}
.collapsible-content[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.collapsible-content[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.collapsible-trigger {
  rotate: 0deg;
  transition: rotate 300ms;
}

.collapsible-trigger[data-state='open'] {
  rotate: 90deg;
}

.collapsible-trigger[data-state='closed'] {
  rotate: 0deg;
}
