.backdrop {
  position: absolute;
  inset: 0;
  height: 200%;
  backdrop-filter: blur(16px);
  background: linear-gradient(
    to bottom,
    rgb(var(--bg-color)) 0%,
    transparent 50%
  );
  mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
  pointer-events: none;
  z-index: -1;
}
