.tiptap.ProseMirror {
  @apply sm:border-x-[64px] border-l-transparent border-r-transparent;
}

.tiptap {
  @apply focus:outline-none;
}

[cmdk-list] {
  /* min-height: 300px; */
  height: var(--cmdk-list-height);
  max-height: 500px;
  transition: height 100ms ease;
  min-width: 240px;

  scroll-padding-block-start: 8px;
  scroll-padding-block-end: 8px;
}

[cmdk-root] {
  @apply text-eva-text bg-zinc-800 border border-zinc-700 shadow-xl rounded-xl;
}

[cmdk-group-heading] {
  @apply text-xs text-eva-text/50 px-2 py-1.5 font-medium;
}

[cmdk-item], .cmdk-item {
  @apply items-center flex gap-2 p-1.5 rounded-md font-thin text-sm cursor-pointer;
}

[cmdk-item][data-selected='true'] {
  @apply bg-eva-text/10;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.bubble-menu {
  @apply p-1 pb-0.5 text-eva-text bg-zinc-800 border border-zinc-700 shadow-xl rounded-xl space-x-1;
}

.bubble-menu button {
  @apply p-1.5 rounded-lg hover:bg-eva-text/10;
}

.bubble-menu button.is-active {
  @apply text-blue-400;
}

.ProseMirror-selectednode {
  outline: 3px solid var(--purple);
  @apply outline outline-[3px] outline-purple-500;
}

.tiptap input[type="checkbox"]:checked {
  @apply accent-eva-text-border;
}

.tiptap input[type="checkbox"] {
  @apply w-[0.9em] h-[0.9em];
}