.post-dot-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  opacity: 0.5;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(var(--color4) / 0.3);
}
